<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/assets/fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/assets/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/assets/fonts/fontawesome5-overrides.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/assets/css/Cover-image--parallax-optional--border-top-or-down-arrows-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/assets/css/Cover-image--parallax-optional--border-top-or-down-arrows.css') }}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/assets/css/Loading-Div.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/assets/css/Loading-Page-Animation-Style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/assets/css/Ludens---WYSIWYG-Summernote-Editor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/assets/css/Pre-loader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/assets/css/Review-rating-Star-Review-Button-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/assets/css/Review-rating-Star-Review-Button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/assets/css/Studious-selectbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/assets/css/TextEditor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/assets/css/wysiwyg.css') }}">
</head>
<body class="bg-gradient-primary">
{% block body %}



{% endblock %}
    <script src="{{ url_for('static',filename='admin/assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/assets/js/chart.min.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/assets/js/bs-init.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/assets/js/Contact-Us.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="{{ url_for('static',filename='admin/assets/js/Cover-image--parallax-optional--border-top-or-down-arrows.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <script src="{{ url_for('static',filename='admin/assets/js/Loading-Page-Animation-Style.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/assets/js/Ludens---WYSIWYG-Summernote-Editor.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/assets/js/Review-rating-Star-Review-Button.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/assets/js/Studious-selectbox.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/assets/js/TextEditor.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/assets/js/theme.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/assets/js/wysiwyg-1.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/assets/js/wysiwyg-2.js') }}"></script>
    <script src="{{ url_for('static',filename='admin/assets/js/wysiwyg.js') }}"></script>
</body>

</html>