{% extends "layout.html" %}




{% block body %} 

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('https://source.unsplash.com/3rkosR_Dgfg');">
  <!--background-image:url('images/demo/backgrounds/01.png');-->
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <h3 class="heading font-odibee" style="font-family: 'Odibee Sans', cursive;" >Technology is best when it  <span style="color: red;">brings people together</span></h3>
      <p></p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="#">Authors</a></li>
          <li><a class="btn inverse" href="#">Blogs</a></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section id="introblocks" class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <ul class="nospace group">
      <li class="one_third first">
        <article><a href="#"><i class="fas fa-hand-peace"></i></a>
          <h6 class="heading underline">Sapien tempor placerat</h6>
          <p>Luctus mauris lectus elementum nulla ac consectetuer sapien leo et arcu maecenas auctor viverra magna sed.</p>
        </article>
      </li>
      <li class="one_third">
        <article class="active"><a href="#"><i class="fas fa-microphone"></i></a>
          <h6 class="heading underline">Blandit urna fusce</h6>
          <p>In augue blandit ligula pharetra mattis vestibulum congue enim aenean felis augue pretium semper imperdiet.</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fas fa-moon"></i></a>
          <h6 class="heading underline">Quis euismod malesuada</h6>
          <p>Purus morbi ut risus nec orci bibendum commodo phasellus fringilla pede vitae tincidunt congue nibh lobortis.</p>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">SOME live FAUCIBUS</h6>
    </div>
    <ul class="nospace group overview btmspace-80">
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-motorcycle"></i></a>
            <h6 class="heading">Eleifend augue</h6>
          </div>
          <p>Sit amet turpis nulla congue augue lectus quis est ante non mi fusce euismod etiam augue aenean ullamcorper.</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-newspaper"></i></a>
            <h6 class="heading">Consectetuer euismod</h6>
          </div>
          <p>Neque pellentesque bibendum duis ut est quis nisl consequat gravida nulla facilisi nullam feugiat mauris enim.</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-paper-plane"></i></a>
            <h6 class="heading">Condimentum vitae</h6>
          </div>
          <p>Ut luctus velit vel eleifend luctus quam ante interdum nibh non sollicitudin enim mi viverra est aenean blandit.</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-eye"></i></a>
            <h6 class="heading">Praesent elementum</h6>
          </div>
          <p>Fusce ut felis nulla facilisi aliquam erat volutpat morbi fermentum mauris a nunc ut non lectus nunc aliquam est.</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-leaf"></i></a>
            <h6 class="heading">Posuere curabitur</h6>
          </div>
          <p>Non nisi sed erat diam hendrerit ut auctor sed vulputate at purus vestibulum eget lorem at tortor tristique.</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-power-off"></i></a>
            <h6 class="heading">Malesuada fames</h6>
          </div>
          <p>Semper nulla adipiscing mi sed rutrum fringilla mauris libero posuere lectus eleifend pretium purus vestibulum.</p>
        </article>
      </li>
    </ul>
    <footer class="center"><a class="btn" href="#">Semper ullamcorper</a></footer>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">
      Explore More</h6>
    </div>
    <ul class="nospace group">
      <li class="one_quarter first"><!--images/demo/348x261.png-->
        <figure class="fixwidth"><a class="imgover btmspace-30" href="#"><img src="https://source.unsplash.com/JjGXjESMxOY" alt=""></a>
          <figcaption class="bold uppercase center">Artificial Intelligence</figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure class="fixwidth"><a class="imgover btmspace-30" href="#"><img src="https://source.unsplash.com/YCJywFD2In4" alt=""></a>
          <figcaption class="bold uppercase center">Old Technology</figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure class="fixwidth"><a class="imgover btmspace-30" href="#"><img src="https://source.unsplash.com/1K6IQsQbizI" alt=""></a>
          <figcaption class="bold uppercase center">Data has a better idea</figcaption>
          <!--{{ url_for('static', filename='images/demo/348x261.png') }}-->
        </figure>
      </li>
      <li class="one_quarter">
        <figure class="fixwidth"><a class="imgover btmspace-30" href="#"><img src="https://source.unsplash.com/vbZAkXHW3yw" alt=""></a>
          <figcaption class="bold uppercase center">World</figcaption>
          <!--{{ url_for('static', filename='images/demo/348x261.png') }}-->
        </figure>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ --><!--images/demo/backgrounds/01.png-->
<div class="wrapper bgded overlay" style="background-image: url('https://source.unsplash.com/Cvc998vsETI')">
    <!--{{ url_for('static',filename='images/demo/backgrounds/01.png') }}-->
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">Authors</h6>
    </div>
    <ul id="testimonials" class="nospace group btmspace-80">
      <li class="one_half first">
        <blockquote>Always walk through life as if you have something new to learn and you will.</blockquote>
        <figure class="clear"><img class="circle" src='{{url_for("static",filename="images/Owner-logo.jpg")}}' alt="">
           

          <figcaption>
            <h6 class="heading">S.R.Dubey</h6>
            <em>CEO / CrazyDev</em></figcaption>
        </figure>
      </li>
      <li class="one_half">
        <blockquote>Learning is a treasure that will follow its owner everywhere.</blockquote>
        <figure class="clear"><img class="circle" src='{{url_for("static",filename="images/Owner-logo.jpg")}}' alt="">
          <!--{{ url_for('static', filename='images/demo/60x60.png') }}-->
          <figcaption>
            <h6 class="heading">S.R.Dubey</h6>
            <em>Director / CrazyDev</em></figcaption>
        </figure>
      </li>
    </ul>
    <footer class="center"><a class="btn" href="#">About Authors..</a></footer>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">Secret Blogs</h6>
    </div>
    <ul id="latest" class="nospace group">
      <li class="one_third first">
        <article>
          <figure><a class="imgover" href="#"><img src="https://source.unsplash.com/bgFB2WJSvLA" alt=""></a></figure>
          <div class="excerpt">
            <h6 class="heading">In lobortis metus at quam donec velit maecenas lorem</h6>
            <ul class="nospace meta">
              <li><i class="fas fa-user rgtspace-5"></i> <a href="#">Admin</a></li>
              <li><i class="far fa-clock rgtspace-5"></i>
                <time datetime="2045-04-06T08:15+00:00">06 Apr 2045</time>
              </li>
            </ul>
            <p>Ac nibh blandit eleifend nullam sed nisi in justo hendrerit egestas proin consectetuer turpis quis malesuada [<a href="#">&hellip;</a>]</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article>
          <figure><a class="imgover" href="#"><img src="https://source.unsplash.com/P6lNBC4HIxs" alt=""></a></figure>
          <div class="excerpt">
            <h6 class="heading">Scelerisque justo lorem porta enim nec interdum quam</h6>
            <ul class="nospace meta">
              <li><i class="fas fa-user rgtspace-5"></i> <a href="#">Admin</a></li>
              <li><i class="far fa-clock rgtspace-5"></i>
                <time datetime="2045-04-05T08:15+00:00">05 Apr 2045</time>
              </li>
            </ul>
            <p>Felis et libero aliquam ultrices aliquam quis purus feugiat tortor sodales vestibulum nunc sollicitudin tellus [<a href="#">&hellip;</a>]</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article>
          <figure><a class="imgover" href="#"><img src="https://source.unsplash.com/JOQZPiSqecg" alt=""></a></figure>
          <!--{{ url_for('static', filename='images/demo/348x261.png') }}-->
          <div class="excerpt">
            <h6 class="heading">Ultrices iaculis condimentum felis eros rutrum magna</h6>
            <ul class="nospace meta">
              <li><i class="fas fa-user rgtspace-5"></i> <a href="#">Admin</a></li>
              <li><i class="far fa-clock rgtspace-5"></i>
                <time datetime="2045-04-04T08:15+00:00">04 Apr 2045</time>
              </li>
            </ul>
            <p>A blandit augue lorem ac est pellentesque et risus sed quis magna vestibulum erat nisl luctus iaculis consequat [<a href="#">&hellip;</a>]</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </div>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
{% endblock %}
